@page "/product/details/{ProductId}"
@using BlazorShop.Data
@using Microsoft.AspNetCore.Mvc.RazorPages
@inject IProductService _productService
<h3>@_product.Name</h3>

<table class="table">
    <thead>
        <tr>
            <th>Color</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @_product.Color
            </td>
            <td>
                @_product.Name
            </td>
            <td>
                @_product.Price
            </td>
            <td>
                @_product.Category
            </td>
            <td>
                @_product.Description
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public string ProductId { get; set; }
    public Product _product { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _product = _productService.GetProduct(int.Parse(ProductId));
    }

}
